<html>

<head>
    <title>Domain Configuration</title>
    <!--script src="../../../web-app/js/jquery-1.11.1.min.js"></script>
    <link href="../../../web-app/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="../../../web-app/css/bootstrap-select.min.css" type="text/css" rel="stylesheet">
    <link href="../../../web-app/css/AdminLTE.css" type="text/css" rel="stylesheet">
    <link href="../../../web-app/css/domainConfAddCustom.css" type="text/css" rel="stylesheet">
    <link href="../../../web-app/plugins/iCheck/skins/square/blue.css" type="text/css" rel="stylesheet">
    <script src="../../../web-app/js/bootstrap.min.js"></script>
    <script src="../../../web-app/js/bootstrap-select.min.js"></script>
    <script src="../../../web-app/plugins/iCheck/icheck.js"></script>
    <script src="../../../web-app/js/custom.js"></script-->
    <script src="../js/jquery-1.11.1.min.js"></script>
    <link href="../css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="../css/bootstrap-select.min.css" type="text/css" rel="stylesheet">
    <link href="../css/AdminLTE.css" type="text/css" rel="stylesheet">
    <link href="../css/skins/_all-skins.min.css" rel="stylesheet" type="text/css">
    <link href="../css/domainConfAddCustom.css" type="text/css" rel="stylesheet">
    <link href="../plugins/iCheck/skins/square/blue.css" type="text/css" rel="stylesheet">
    
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap-select.min.js"></script>
    <script src="../plugins/iCheck/icheck.js"></script>
    <script src="../js/custom.js"></script>
    <script src="../js/app.min.js"></script>  

<!-- ********************************** -->
    <!-- Bootstrap 3.3.4 -->
    <link href="../template/AdminLTE-2.1.1/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />    
    <!-- FontAwesome 4.3.0 -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons 2.0.0 -->
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />    
    <!-- Theme style -->
    <link href="../template/AdminLTE-2.1.1/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins 
         folder instead of downloading all of them to reduce the load. -->
    <link href="../template/AdminLTE-2.1.1/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <!-- iCheck -->
    <link href="../template/AdminLTE-2.1.1/plugins/iCheck/flat/blue.css" rel="stylesheet" type="text/css" />
    <!-- Morris chart -->
    <link href="../template/AdminLTE-2.1.1/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <!-- jvectormap -->
    <link href="../template/AdminLTE-2.1.1/plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- Date Picker -->
    <link href="../template/AdminLTE-2.1.1/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <!-- Daterange picker -->
    <link href="../template/AdminLTE-2.1.1/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <!-- bootstrap wysihtml5 - text editor -->
    <link href="../template/AdminLTE-2.1.1/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
<!-- ********************************** -->

    <script type="text/javascript">
    function selectButtonClicked() {
        //some code here
    }
    </script>
</head>

<body>
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
              <p>Alexander Pierce</p>

              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          <!-- search form -->
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search..."/>
              <span class="input-group-btn">
                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                <li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-files-o"></i>
                <span>Layout Options</span>
                <span class="label label-primary pull-right">4</span>
              </a>
              <ul class="treeview-menu">
                <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
                <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
                <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
                <li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
              </ul>
            </li>
            <li>
              <a href="pages/widgets.html">
                <i class="fa fa-th"></i> <span>Widgets</span> <small class="label pull-right bg-green">new</small>
              </a>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Charts</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>
                <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
                <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
                <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-laptop"></i>
                <span>UI Elements</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> General</a></li>
                <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Icons</a></li>
                <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>
                <li><a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Sliders</a></li>
                <li><a href="pages/UI/timeline.html"><i class="fa fa-circle-o"></i> Timeline</a></li>
                <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-edit"></i> <span>Forms</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
                <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
                <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-table"></i> <span>Tables</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Simple tables</a></li>
                <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Data tables</a></li>
              </ul>
            </li>
            <li>
              <a href="pages/calendar.html">
                <i class="fa fa-calendar"></i> <span>Calendar</span>
                <small class="label pull-right bg-red">3</small>
              </a>
            </li>
            <li>
              <a href="pages/mailbox/mailbox.html">
                <i class="fa fa-envelope"></i> <span>Mailbox</span>
                <small class="label pull-right bg-yellow">12</small>
              </a>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-folder"></i> <span>Examples</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
                <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>
                <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Register</a></li>
                <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
                <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>
                <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>
                <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-share"></i> <span>Multilevel</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                <li>
                  <a href="#"><i class="fa fa-circle-o"></i> Level One <i class="fa fa-angle-left pull-right"></i></a>
                  <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                    <li>
                      <a href="#"><i class="fa fa-circle-o"></i> Level Two <i class="fa fa-angle-left pull-right"></i></a>
                      <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
              </ul>
            </li>
            <li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
            <li class="header">LABELS</li>
            <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>
    <div style="min-height: 100%; min-height: 100vh; margin-top:40px" class="content-wrapper">
        <div class="container content">
            <div class="row" style="width:90%; margin-left:5%">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1
    col-sm-10 col-xs-10 col-xs-offset-1" style="padding: 2px">
                    <div class="input-group pull-left" style="width:50%; padding-right:10px;">
                        <select class="selectpicker" style="width:100%; text-indent:0%" name="domainList" id="domainList" from="${domainNameList}" value="${defaultDomain}"></select>
                    </div>
                    <div class="input-group pull-right" style="width:50%; padding-left:10px;">
                        <button type="button" class="btn btn-primary" style="width:100%" name="selectButton" onclick="selectButtonClicked()">
                            Select
                        </button>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:30px">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1
    col-sm-10 col-xs-10 col-xs-offset-1">
                    <div class="box box-primary" style="width: 90%; margin-left:5%; padding:2%">
                        <div class="box-header">
                            <h3 class="box-title">Table Name %</h3>
                        </div>
                    </div>
                    <!--header box end -->
                    <script id="field-box-template" type="text/my-custom-template">
                        <div class="box box-primary" style="width: 90%; margin-left:5%; padding:2%" id="field-box@">
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Field Name:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control pull-right" id="field-name@" name="field-name@" />
                                    </div>
                                    <!-- /.input group -->
                                </div>
                                <!-- /.form group -->
                                <div class="form-group">
                                    <label>Type:</label>
                                    <div class="input-group">
                                        <select class="selectpicker selectDataType" id="field-data-type@" name="field-data-type@">
                                            <option value="string">String</option>
                                            <option value="integer">Integer</option>
                                            <option value="float">Float</option>
                                            <option value="date">Date</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group invisible" id="range-group@">
                                    <label>Range:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control pull-left" id="range-begin@" name="range-begin@" style="width: 45%" />
                                        <label style="width:10%; text-align:center; margin-top:5px; font-size:initial;">-</label>
                                        <input type="text" class="form-control pull-right" id="range-end@" name="range-end@" style="width: 45%" />
                                    </div>
                                    <!-- /.input group -->
                                </div>
                                <div class="form-group" id="source-group@">
                                    <label>Source:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control pull-right" id="source@" name="source@" />
                                    </div>
                                    <!-- /.input group -->
                                </div>
                                <!-- /.form group -->
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="checkbox" class="chkbox" id="chk-unique@" name="chk-unique@" style="margin-top: -2px">
                                        <label for="chk-unique@" class="chkbox-label">Unique</label>
                                        <input type="checkbox" class="chkbox" id="chk-autoincrement@" name="chk-autoincrement@">
                                        <label for="chk-autoincrement@" class="chkbox-label">Autoincrement</label>
                                    </div>
                                    <!-- /.input group -->
                                </div>
                                <!-- /.form group -->
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- box body #@ end -->
                    </script>
                    <div class="box box-primary" id="my-box-footer" style="width: 90%; margin-left:5%; padding:2%">
                        <div class="box-footer">
                            <button type="button" class="btn btn-warning pull-left" id="add-field">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <b>&nbsp;&nbsp;Add Field</b>
                            </button>
                            <button type="button" class="btn btn-danger pull-left" id="remove-field" style="margin-left: 10px" disabled="true">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> <b>&nbsp;&nbsp;Remove Last Field</b>
                            </button>
                            <button class="btn btn-success pull-right" id="save-domain-conf">
                                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> <b>&nbsp;&nbsp;Save Configuration</b>
                            </button>
                        </div>
                    </div>
                    <!--footer box end -->
                </div>
                <!-- /column -->
            </div>
            <!-- /row -->
        </div>
    </div>
</body>

</html>
